@{
    ViewBag.Title = "Home Page | Maersk Line CMS";
}

@model MaerskCMS_v1.Models.MainPageViewModel

<div class="jumbotron">
    <h1>Maersk Line Container Management System</h1>
    <p class="lead">The one stop solution for managing containers and shipments. </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Maersk Line CMS is a powerful system that lets the agent to manage the containers easily, effectively and efficiently. <br />To begin, login as an agent or sign up to get approval from the Maersk Admin.
        </p>
        <p><a class="btn btn-primary btn-lg" href="/Account/AgentSignUp">Sign up to be agent &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About CMS</h2>
        <p>
            Learn more about what CMS can bring the world leader of container shipping company to the next height.
        </p>
        <p><a class="btn btn-primary btn-lg" href="/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>We care about your experience on our Maersk CMS portal experience. Do contact us if you have any doubt. </p>
        <p><a class="btn btn-primary btn-lg" href="/Home/Contact">More &raquo;</a></p>
    </div>
</div>